#game{
    border-style:solid;
    border-width: 2px;
    background-color: black;
    width: 1150px;
    height:450px;
    position:absolute;
}

#game rect{
  fill: purple;
  stroke: purple;
  stroke-width: 0px;

}

#game #pacMan{
  fill:yellow;
  stroke: #000000;
  stroke-width: 1px;

}

canvas {
position: absolute;
z-index: 2;
    width: 1150px;
    height:450px;
border: 1px solid black;
}

#kinetic {
	position: absolute;
	z-index: 3;
    width: 1150px;
    height:450px;
	border: 1px solid black;
}