body, div, h1, h2, p, header, footer, section {
	margin: 0;
	padding: 0;
}

body {
	font-family: Calibri;
background: #000000;
background: -moz-linear-gradient(top,  #000000 0%, #333333 55%, #545454 70%, #000000 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(55%,#333333), color-stop(70%,#545454), color-stop(100%,#000000));
background: -webkit-linear-gradient(top,  #000000 0%,#333333 55%,#545454 70%,#000000 100%);
background: -o-linear-gradient(top,  #000000 0%,#333333 55%,#545454 70%,#000000 100%);
background: -ms-linear-gradient(top,  #000000 0%,#333333 55%,#545454 70%,#000000 100%);
background: linear-gradient(to bottom,  #000000 0%,#333333 55%,#545454 70%,#000000 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );


}
h1 {
color:yellowgreen;
margin:10px;
}
h2 {
margin:10px;
}
#game {
    border-style: solid;
    border-width: 2px;
    background-color: black;
    width: 955px;
    height:450px;
    position:absolute;
}

#game rect{
  fill: purple;
  stroke: purple;
  stroke-width: 0px;

}

#game text{
  fill: purple;
  font-size: 21px;
  font-family: 'Book Antiqua', 'Bookman Old Style', Arial;
  text-transform: uppercase;
  font-weight: bold;
}

#game #pacMan{
  fill:yellow;
  stroke: #000000;
  stroke-width: 1px;

}

canvas {
	position: absolute;
	z-index: 2;
    width: 960px;
    height:450px;

}

#kinetic {
	position: absolute;
	z-index: 3;
    width: 960px;
    height:450px;
}
#game-section {
	height:455px;
	border-bottom: 2px solid purple;
}
#game-section button {
	background-color:black;
	border: 0;
	color:grey;
	font-size:16px;
	position:absolute;
	top:467px;
	z-index:3;
}
#game-section button:hover {
	text-decoration:underline;
	cursor:pointer;
}
#game-section button:focus{
	outline:0;
}
#game-section #start-game {
	background-color:black;
	border: 2px solid black;
	border-radius:10px;
	color:yellowgreen;
	padding:7px;
	font-size:18px;
	font-weight:bold;
	left:837px;
	z-index:3;
}
#game-section button#start-game:hover{
	border: 2px solid yellowgreen;
	text-decoration:none;
}

#game-section #tips-btn {
	top:477px;
	left:730px;
}
#game-section #story-btn {
	top:477px;
	left:780px;
}
.close {
    float:right;
	top:0;
    padding:2px 5px;
	z-index:4;
	font-size:30px;
	cursor:pointer;
}
#high-scores {
	position:relative;
	background-color: black;
	vertical-align:top;
	margin-left: 958px;
	padding: 0 10px;
	text-align: center;
	height:450px;
	min-width:250px;
	border: 2px solid black;
}
	#high-scores ol {
		text-align: left;
		font-size: 18px;
		color: yellowgreen;
	}
	#high-scores h1 {
		font-size: 35px;
		color: purple;
		font-family: Calibri;
		font-weight:normal;
		font-variant:small-caps;
	}
 #tips,
 #game-story{
	color: black;
	position:absolute;
	padding:10px;
	width:700px;
	border: 2px solid yellowgreen;
	border-radius:10px;
	background: yellowgreen;
	text-align:justify;
	z-index:3;
	
}	
#tips {
	top:185px;
	left:100px;

}
 #game-story{
 	padding:20px;
	padding-top:10px;
	width:800px;
	top:75px;
	left:55px;

 }	
 #game-story  p{
 	text-indent:20px;
	padding:3px 0;
 }
/* #tips {
	color: #a0a0a0;
}	
#game-story {
	color: #a0a0a0;
	padding:10px;
}
	#game-story p {
		text-align:justify;
		border-top: 2px solid purple;
		border-bottom: 2px solid purple;
	} */
footer {
padding:10px;
color:grey;
}
	footer #credit {
	float:right;
	}
.italic {
font-style:italic;
}
.hidden {
display:none;
}